.glitch {
    position: relative;
    margin: 1vw;
    font-size: 7.5vw;
    font-weight: 600;
    text-transform: uppercase;
    animation: glitch-color 2500ms infinite;
}

.glitch span {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.glitch span:first-child {
    animation: glitch-color 1750ms infinite;
    animation: glitch-clip-a 850ms infinite;
}

.glitch span:last-child {
    animation: glitch-color 1300ms infinite;
    animation: glitch-clip-b 1030ms infinite;
}

@keyframes glitch-color {
    0% {
        text-shadow: -0.15vw -0.095vw 0 rgba(0, 255, 0, 0.8), 0.095vw 0.15vw 0 rgba(0, 0, 255, 0.8), 0.15vw 0.095vw 0 rgba(255, 0, 0, 0.8);
    }
    19% {
        text-shadow: -0.15vw -0.095vw 0 rgba(0, 255, 0, 0.8), 0.095vw 0.15vw 0 rgba(0, 0, 255, 0.8), 0.15vw 0.095vw 0 rgba(255, 0, 0, 0.8);
    }
    20% {
        text-shadow: -0.095vw -0.15vw 0 rgba(0, 255, 0, 0.8), 0.15vw 0.095vw 0 rgba(0, 0, 255, 0.8), 0.095vw 0.15vw 0 rgba(255, 0, 0, 0.8);
    }
    34% {
        text-shadow: -0.095vw -0.15vw 0 rgba(0, 255, 0, 0.8), 0.15vw 0.095vw 0 rgba(0, 0, 255, 0.8), 0.095vw 0.15vw 0 rgba(255, 0, 0, 0.8);
    }
    35% {
        text-shadow: 0.15vw 0.095vw 0 rgba(0, 255, 0, 0.8), -0.095vw -0.15vw 0 rgba(0, 0, 255, 0.8), -0.15vw -0.095vw 0 rgba(255, 0, 0, 0.8);
    }
    59% {
        text-shadow: 0.15vw 0.095vw 0 rgba(0, 255, 0, 0.8), -0.095vw -0.15vw 0 rgba(0, 0, 255, 0.8), -0.15vw -0.095vw 0 rgba(255, 0, 0, 0.8);
    }
    60% {
        text-shadow: -0.15vw 0.15vw 0 rgba(0, 255, 0, 0.8), -0.095vw 0.095vw 0 rgba(0, 0, 255, 0.8), 0.095vw -0.15vw 0 rgba(255, 0, 0, 0.8);
    }
    74% {
        text-shadow: -0.15vw 0.15vw 0 rgba(0, 255, 0, 0.8), -0.095vw 0.095vw 0 rgba(0, 0, 255, 0.8), 0.095vw -0.15vw 0 rgba(255, 0, 0, 0.8);
    }
    75% {
        text-shadow: -0.095vw -0.15vw 0 rgba(0, 255, 0, 0.8), 0.15vw -0.15vw 0 rgba(0, 0, 255, 0.8), -0.15vw 0.15vw 0 rgba(255, 0, 0, 0.8);
    }
    84% {
        text-shadow: -0.095vw -0.15vw 0 rgba(0, 255, 0, 0.8), 0.15vw -0.15vw 0 rgba(0, 0, 255, 0.8), -0.15vw 0.15vw 0 rgba(255, 0, 0, 0.8);
    }
    85% {
        text-shadow: 0.095vw -0.095vw 0 rgba(0, 255, 0, 0.8), -0.095vw 0.095vw 0 rgba(0, 0, 255, 0.8), -0.15vw 0.15vw 0 rgba(255, 0, 0, 0.8);
    }
    99% {
        text-shadow: 0.095vw -0.095vw 0 rgba(0, 255, 0, 0.8), -0.095vw 0.095vw 0 rgba(0, 0, 255, 0.8), -0.15vw 0.15vw 0 rgba(255, 0, 0, 0.8);
    }
    100% {
        text-shadow: -0.15vw -0.095vw 0 rgba(0, 255, 0, 0.8), 0.095vw 0.15vw 0 rgba(0, 0, 255, 0.8), 0.15vw 0.095vw 0 rgba(255, 0, 0, 0.8);
    }
}

@keyframes glitch-clip-a {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 30%);
        transform: translate(0.1vw, 0.1vw);
    }
    34% {
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 30%);
        transform: translate(0.1vw, 0.1vw);
    }
    35% {
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 40%);
        transform: translate(-0.1vw, 0.1vw);
    }
    54% {
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 40%);
        transform: translate(-0.1vw, 0.1vw);
    }
    55% {
        clip-path: polygon(0 0, 100% 0, 100% 40%, 0 70%);
        transform: translate(0.1vw, -0.1vw);
    }
    89% {
        clip-path: polygon(0 0, 100% 0, 100% 40%, 0 70%);
        transform: translate(0.1vw, -0.1vw);
    }
    90% {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 20%);
        transform: translate(-0.1vw, -0.1vw);
    }
    99% {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 20%);
        transform: translate(-0.1vw, -0.1vw);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 30%);
        transform: translate(0.1vw, 0.1vw);
    }
}

@keyframes glitch-clip-b {
    0% {
        clip-path: polygon(0 40%, 100% 45%, 100% 100%, 0 100%);
        transform: translate(-0.1vw, -0.1vw);
    }
    14% {
        clip-path: polygon(0 40%, 100% 45%, 100% 100%, 0 100%);
        transform: translate(-0.1vw, -0.1vw);
    }
    15% {
        clip-path: polygon(0 60%, 100% 25%, 100% 100%, 0 100%);
        transform: translate(-0.1vw, 0.1vw);
    }
    44% {
        clip-path: polygon(0 60%, 100% 25%, 100% 100%, 0 100%);
        transform: translate(-0.1vw, 0.1vw);
    }
    45% {
        clip-path: polygon(0 30%, 100% 75%, 100% 100%, 0 100%);
        transform: translate(0.1vw, -0.1vw);
    }
    79% {
        clip-path: polygon(0 30%, 100% 75%, 100% 100%, 0 100%);
        transform: translate(0.1vw, -0.1vw);
    }
    80% {
        clip-path: polygon(0 80%, 100% 55%, 100% 100%, 0 100%);
        transform: translate(0.1vw, 0.1vw);
    }
    99% {
        clip-path: polygon(0 80%, 100% 55%, 100% 100%, 0 100%);
        transform: translate(0.1vw, 0.1vw);
    }
    100% {
        clip-path: polygon(0 40%, 100% 45%, 100% 100%, 0 100%);
        transform: translate(-0.1vw, -0.1vw);
    }
}